[Desktop Entry]
Name=browserdemux
Comment=Configurable URL->Browser router
TryExec=browserdemux
Exec=browserdemux %u
X-MultipleArgs=false
Type=Application
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https
